.btn
  background-color: $button-bg-color
  color: $bg-color
  font-weight: bold
  padding: 1em 2em
  border-radius: 4rem
  transition: background-color .32s ease-in

  &:hover
    background-color: darken($button-bg-color, 10%)