.cards
    padding: 2.5rem

.card 
    display: inline-block
    width: 350px
    height: 450px
    max-width: 100%
    border-radius: 7px
    margin-bottom: 2rem
    cursor: pointer
    user-select: none
    
    &.card1
        background: url(/assets/formation1.jpg)
        background-size: cover
    
    &.card2
        background: url(/assets/formation2.jpg)
        background-size: cover
    
    &.card3
        background: url(/assets/formation3.jpg)
        background-size: cover
    
    .card-overlay
        background: rgba(0, 0, 0, 0.27)
        width: 100%
        height: 100%
        border-radius: 4px
        display: inline-flex
        align-items: center
        justify-content: center
        flex-direction: column
        color: white
        font-weight: bold
        padding: 2rem

        

        h3
            width: 100%
            
            &:hover
                transform: scale(1.1)
     
    &:hover
        box-shadow: 0 0 29px rgba(33,33,33,.5)





.card-button
    width: 100%
    text-align: left
    padding-bottom: 14px
    padding-top: 180px

.cards-divider
    height: 5rem
    background: $bg-color
    display: flex
    align-items: center
    color: $text-color
    border-bottom: 1px solid $smoke-white
    margin-bottom: 1rem
    
    .card-select-title
        display: flex
        align-items: center

        h2
            color: red
            font-size: 1.5rem
        
.cards-footer-note
    color: $text-color
    opacity: 0.4
    font-size: 1rem
    text-align: center
    padding: 1.5rem
    padding-top: 0 