.social-media
    display: flex
    align-items: center
    justify-content: center

    .facebook
        width: 2.5rem
        height: 2.5rem
        display: block
        background: url("/assets/icon/facebook.png")
        background-size: contain
        background-repeat: no-repeat
        background-position: center

    .twitter
        width: 2.5rem
        height: 2.5rem
        display: block
        background: url("/assets/icon/twitter.png")
        background-size: contain
        background-repeat: no-repeat
        background-position: center
