body
  background-color: $bg-color
  color: $text-color

a 
  color: $text-color

.container
  padding: 10rem
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column


h1 
  font-size: 4.5rem
  color: $header-text-color

p
  padding: 1rem  

input[type="email"]
  border: 1px solid $text-color
  padding: 1rem
  border-radius: 4px
  width: 100%
  font-size: 1.5em
