// colors
$white: #ffffff
$smoke-white: #f1f1f1

$bg-color: $white
$text-color: #686667
$header-text-color: #444444

// header nav colors
$nav-bg-color: #b7bcbf
$nav-text-color: $white

// foter
$footer-border-color: #ff4d51

// button colors
$button-bg-color: red